<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="blister_pack.blister">
	<application android:icon="@drawable/shield" android:label="Blister">
		<receiver android:name="StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<activity android:name=".windows.MainWindow" android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.EditScheduleWindow"
			android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.ScheduleInfoWindow"
			android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.WeekWindow" android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.SetTimeWindow"
			android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<!--
			<activity android:name="MainActivity" android:label="Blister">
			<intent-filter> <action android:name="android.intent.action.MAIN"/>
			<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter> </activity>
		-->
		<activity android:name=".windows.ConfirmActivity"
			android:label="Blister" android:theme="@android:style/Theme.Dialog" />
		<service android:name="NotificationService" />
		<activity android:label="Blister" android:name=".windows.MissedNotificationsWindow"></activity>
		<activity android:label="@string/add_time_series_text"
			android:name=".windows.AddRelativeTimeWindow" android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name=".windows.AddTimetableWindow"
			 android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
	</application>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>
