<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="blister_pack.blister"
	android:versionCode="1"
    android:versionName="1.2">
	<application android:icon="@drawable/shield" android:label="Blister">
		<receiver android:name="StartupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<activity android:name=".windows.MainWindow" android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.EditScheduleWindow"
			android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.ScheduleInfoWindow"
			android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.WeekWindow" android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.SetTimeWindow"
			android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.ConfirmActivity"
			android:label="Blister" android:theme="@android:style/Theme.Dialog" />
		<service android:name="NotificationService" />
		<activity android:label="Blister" android:name=".windows.MissedNotificationsWindow"></activity>
		<activity android:label="@string/add_time_series_text"
			android:name=".windows.AddRelativeTimeWindow" android:theme="@android:style/Theme.Dialog"></activity>
		<activity android:name=".windows.AddTimetableWindow"
			 android:label="Blister">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".windows.AboutActivity"
			android:label="@string/about_caption"/>
		<activity android:name="com.sadko.bursaq.GotoBursaqActivity"
			android:label="@string/get_bursaq_caption" />
	</application>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-sdk
        android:minSdkVersion="2" />
</manifest>
